@charset "utf-8";

/* CSS Document */
.dn {
	display: none !important;
}
img {
	vertical-align: top;
}
.block {
	position: relative;
	z-index: 1;
}
.s_link {
	font-size: 1em;
	text-decoration: underline;
	color: #000;
}


.btn_common {
	display: block;
	width: 5em;
	height: 2.5em;
	line-height:2.4;
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border: 2px solid #e53c2e;
	background:#fb6255;
	background:-webkit-linear-gradient(top, #fb6255, #e53c2e);
	background:-moz-linear-gradient(top, #fb6255, #e53c2e);
}
.s1_libao {	
	top: 105%;
}
.s4_libao {
	top: 30%;
}
.s4_3_libao {
	top: 50%;
}
.libao {
	width: 100%;
	position: absolute;
	z-index: 99;
	left: 0;
	-webkit-animation: gift 3s linear 0s infinite;
	animation: gift 3s linear 0s infinite;
}
@-webkit-keyframes gift{
	0% {
		-webkit-transform:rotate(0deg);
	}
	5% {
		-webkit-transform:rotate(10deg);
	}
	10% {
		-webkit-transform:rotate(0deg);
	}
	15% {
		-webkit-transform:rotate(-10deg);
	}
	20% {
		-webkit-transform:rotate(0deg);
	}
	69% {
		-webkit-transform:rotate(0deg);
	}
	70% {
		-webkit-transform:translateX(-5px) rotate(-3deg);
	}
	75% {
		-webkit-transform:translateX(5px) rotate(3deg);
	}
	80% {
		-webkit-transform:translateX(-5px) rotate(-3deg);
	}
	85% {
		-webkit-transform:translateX(5px) rotate(3deg);
	}
	90% {
		-webkit-transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
	}
}
@keyframes gift{
	0% {
		transform:rotate(0deg);
	}
	5% {
		transform:rotate(10deg);
	}
	10% {
		transform:rotate(0deg);
	}
	15% {
		transform:rotate(-10deg);
	}
	20% {
		transform:rotate(0deg);
	}
	69% {
		transform:rotate(0deg);
	}
	70% {
		transform:translateX(-5px) rotate(-3deg);
	}
	75% {
		transform:translateX(5px) rotate(3deg);
	}
	80% {
		transform:translateX(-5px) rotate(-3deg);
	}
	85% {
		transform:translateX(5px) rotate(3deg);
	}
	90% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(0deg);
	}
}
html, body {
	height: 100%;
	background: #fff;
}
.main {
	height: 100%;
	overflow: hidden;
	background: #fd3118;
	font-size: 20px;
	max-width: 640px;
	margin: 0 auto;
	color: #000;
}
.content {
	height: 100%;
	width: 100%;
	position: relative;
}
.content>section {
	width: 100%;
	display: block;
	height: 100%;	/* -moz-transform-origin:50% 0px;
						-webkit-transform-origin:50% 0px; */
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
section#screen_1 {
	z-index: 99;
	background: #e04038 url(../images/bg_s1_2.jpg) top center no-repeat;
	background-size: 100%;
}
section#screen_2 {
	background: #e04038 url(../images/bg_c3.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 98;
}
section#screen_3 {
	background: #e04038 url(../images/bg_c3.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 97;
}
section#screen_4 {
	background: #e04038 url(../images/bg_s4.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 96;
}
section#screen_5 {
	background: #e04038 url(../images/bg_s5_2.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 95;
}
section#screen_6 {
	background: #e04038 url(../images/bg_s6.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 94;
}
section#screen_7 {
	background: #e04038 url(../images/bg_c3.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 93;
}
section#screen_8 {
	background: #e04038 url(../images/bg_c3.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 92;
}
section#screen_9 {
	background: #e04038 url(../images/bg_s5_2.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 91;
}
section#screen_10 {
	background: #e04038 url(../images/bg_c.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 90;
}
section#screen_11 {
	background: #e04038 url(../images/bg_c3.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 90;
}
#content>section.highZindex {
	z-index: 999!important;
}
.errorText {
	top: 40%;
	width: 100%;
	text-align: center;
	left: 0px;
	position: absolute;
	z-index: 99;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 2;
}

.weixin_share_hidden {
	display: none;
}
/* screen_1 */
#screen_1>a {
	color: #000;
}
.s1_box {
	width: 100%;
	position: relative;
}
.s1_txt {
	width: 100%;
	position: absolute;
	z-index: 8;	
	-webkit-animation: seal .5s .5s ease-out both;
	animation: seal .5s .5s ease-out both;
	left: 0px;
	top: 75%;
}
.s1_btn_gift {
	position: absolute;
	z-index: 9;
	line-height: 1.5;
	font-size: 1.5em;
	color: #000;
	font-weight: bold;
	text-align: center;
	width: 100%;
	left: 0;
	padding-top: 50%;
	top: 85%;
}
.my_gift {
	position: absolute;
	z-index: 9;
	bottom: 5%;
	left: 50%;
	margin-left: -25%;
}
.act_law {
	position: absolute;
	z-index: 9;
	bottom: 5%;
	left: 50%;
	margin-left: 5%;
}
.lookup_p {
	position: absolute;
	z-index: 9;
	bottom: 2%;
	left: 50%;
	margin-left: -5%;
}

/* screen_2 */
.s2_slogan {
	font-size: 1.5em;
	line-height: 1.5;
	color: #000;
	position: absolute;
	z-index: 9;
	left: 0px;
	text-align: center;
	bottom: 60%;
	left: 0;
	width: 100%;
}
.s2_question {
	width: 100%;
	position: absolute;
	left: 0;
	top: 45%;
	z-index: 8;
}
.s2_question h3 {
	text-align: center;
	font-size: 1.6em;
	line-height: 1.2;
	font-weight: bold;
}
.s2_question h4 {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.5;
	padding:.3em 0;
}
.s2_q_list {
}
.s2_q_list li {
	font-size: 1.4em;
	line-height: 1.3;
	margin-top: .2em;
	padding-left: 20%;
}
.s2_q_list li.custom {
	padding-left: 0;
	text-align: center;
	color: #000;
}
.s2_q_list li.custom a{
	text-align: center;
	color: #000;
	font-weight: bold;
}
.s2_q_list li>span{
	background: url(../images/bg_li_icon.png) 0 0 no-repeat;
	background-size: 2.6em 1.3em;
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	vertical-align: top;
	margin-right:.1em;
}
.s2_q_list li.active{
	background: url(../images/bg_q_li.png) top center no-repeat;
	background-size: 100% 100%;
}
.s2_q_list li.active>span{
	background-position: -1.3em 0;
}
.s2_sure {
	width: 26%;
	margin: 0 auto;
	margin-top: 10%;
}

/* screen_3 */
.s3_slogan {
	font-size: 1.5em;
	line-height: 1.5;
	color: #000;
	position: absolute;
	z-index: 9;
	left: 0px;
	text-align: center;
	bottom: 60%;
	left: 0;
	width: 100%;
}
.s3_question {
	width: 100%;
	position: absolute;
	left: 0;
	top: 42%;
	z-index: 8;
}
.s3_question h3 {
	text-align: center;
	font-size: 1.6em;
	line-height: 1.2;
	font-weight: bold;
}
.s3_question h4 {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.5;
}
.s3_question h5 {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.5;
	padding:.5em 0;
}
.s3_libao {
	top: 18%;
}
.s3_q_list {

}
.s3_q_list li {
	font-size: 1.5em;
	line-height: 1.3;
	margin-top: .2em;
	padding-left: 20%;
}
.s3_q_list li>span{
	background: url(../images/bg_li_icon.png) 0 0 no-repeat;
	background-size: 2.6em 1.3em;
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	vertical-align: top;
	margin-right:.1em;
}
.s3_q_list li.active{
	background: url(../images/bg_q_li.png) top center no-repeat;
	background-size: 100% 100%;
}
.s3_q_list li.active>span{
	background-position: -1.3em 0;
}
.s32_q_list {

}
.s32_q_list li {
	padding-left: 15%;
	margin-bottom: .5em;
	height: 1.5em;
	font-size: 1.5em;
}
.s32_q_list li>input{
	float: left;
	margin-bottom: .5em;
	display: block;
	border: 1px #bc2d21 solid;
	height: 1.5em;
	padding:0 0.5em;
	border-radius: none;
}
.s32_q_list li>span{
	background: url(../images/bg_li_icon.png) 0 0 no-repeat;
	background-size: 2.6em 1.3em;
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	vertical-align: top;
	margin-right:.5em;
	float: left;
}
.s32_q_list li.active{
	background: url(../images/bg_q_li.png) top center no-repeat;
	background-size: 100% 100%;
}
.s32_q_list li.active>span{
	background-position: -1.3em 0;
}
.top120 {
	top: 120%;
}
.s3_sure {
	width: 26%;
	position: absolute;
	left: 50%;
	margin-left: 6%;
}
.s3_back {
	width: 26%;
	position: absolute;
	left: 50%;
	margin-left: -32%;
}

.s32_form {
}
.s32_form .s32_form_p {
	font-size: 1.8em;
	line-height: 2;
	color: #000;
	text-align: center;
	width: 100%;
	padding-bottom: .5em;
}
.s32_form input.s32_ques {	
	width: 70%;
	margin: 0 auto;
	margin-bottom: .5em;
	display: block;
	border: 1px #bc2d21 solid;
	height: 1.5em;
	font-size: 1.5em;
	padding:0 0.5em;
}
.answer_error {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	z-index: 999;
}
.answer_error .error_box{
	width: 80%;
	height: 40%;
	position: absolute;
	top: 20%;
	left: 10%;
	background: rgba(145,31,31,.8);
}
.answer_error .error_box>p {
	padding-top: 20%;
	text-align: center;
	width: 100%;
	font-size: 1.4em;
	line-height: 1.5;
	font-weight: bold;
	color: #fff;
}
.error_box .error_close {
	width: 36%;
	position: absolute;
	bottom: 10%;
	z-index: 9;
	left: 32%;
}

.btn_s32_submit {
	left: 50%;
	margin-left: -2.5em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
}

/* screen_4 */
.btn_share {
	left: 50%;
	margin-left: -2.5em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
}

.s4_share_guide {
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 197;
	background: #e04038 url(../images/bg_s4_2.jpg) top center no-repeat;
	background-size: 100%;
}
.s4_share_success {
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 98;
	background: #e04038 url(../images/bg_s4_3.jpg) top center no-repeat;
	background-size: 100%;
	z-index: 99;
}

.s4_share_success .btn_share_success {
	left: 50%;
	width: 6em;
	margin-left: -3em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
}


/* screen_5 */
.s5_box {
	position: relative;
}
.s5_gift_cost {
	position: absolute;
	left: 13%;
	top: 47%;
	z-index: 99;
	font-size: 1.8em;
	line-height: 1.2em;
	font-weight: bold;
}
.s5_gift_cost span {
	font-size: 1.5em;
	margin-right: 0.2em;
}
.s5_txt {
	width: 100%;
	font-size: 1.7em;
	line-height: 1.4;
	top: 95%;
	position: absolute;
	left: 0;
	text-align: center;
	font-weight: bold;
}
.btn_s5_home {
	left: 50%;
	width: 6em;
	margin-left: -7em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
	font-size: 1.8em;
}

.btn_s5_ques {
	left: 50%;
	width: 6em;
	margin-left: 1em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
	font-size: 1.8em;
}

.btn_s53_ques {
	left: 50%;
	width: 6em;
	margin-left: -3em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
	font-size: 1.8em;
}
/*  screen_6 */
.s6_form_box {
	z-index: 99;
	background: #e04038 url(../images/bg_c3.jpg) top center no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
.s6_form {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 0;
	z-index: 9;
}
.s6_form .s6_form_p {
	font-size: 1.8em;
	line-height: 2;
	color: #000;
	text-align: center;
	width: 100%;
	padding-bottom: .5em;
}
.s6_form input {
	width: 70%;
	margin: 0 auto;
	display: block;
	border: 1px #bc2d21 solid;
	height: 1.5em;
	font-size: 2em;
	padding:0 0.5em;
	margin-bottom: .5em;
}
.btn_s6_submit {
	left: 50%;
	margin-left: -2.5em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
}


/*  screen_7 */
/*.s7_txt {
	top: 37%;
	position: absolute;
	left: 5%;
	width: 90%;
	z-index: 9;
}*/

.s7_txt {
	top: 20%;
	position: absolute;
	left: 5%;
	height: 62%;
	overflow-y:auto;
	width: 90%;
	z-index: 9;
}
.s7_txt h3{
	line-height: 2;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
}
/*.s7_txt p{
	line-height: 1.3;
	font-size: 1em;
}*/
.s7_txt p{
	line-height: 1.4;
	font-size: 1em;
}
.s7_txt p>a{
	color: #000;
	text-decoration: underline;
}
.btn_s7_center {
	left: 50%;
	margin-left: -2.5em;
	position: absolute;
	bottom: 5%;
	z-index: 9;
	font-size: 1.8em;
}

/*  screen_8 */
.s8_coupon_box {
	border: 1px solid #e0423a;
	border-radius: 5px;
	position: absolute;
	width: 80%;
	top: 54%;
	left: 10%;
	max-height: 30%;
	overflow-x: hidden;
	overflow-y: auto;
}
.s8_coupon_box>h3 {
	background: #f9d9d8;
	height: 2em;
	font-size: 1.6em;
	text-align: center;
	width: 100%;
	color: #000;
	line-height: 2;
	font-weight: bold;
}
.s8_friend {
	color: #000;
	font-size: 1.2em;
	text-align: center;
	width: 100%;
	position: absolute;
	z-index: 99;
	left: 0px;
	bottom: 46%;
	line-height: 1.2;
}
.s8_friend_title {
	color: #000;
	font-size: 1.8em;
	text-align: center;
	width: 100%;
	position: absolute;
	z-index: 99;
	left: 0px;
	bottom: 52%;
	line-height: 1.2;
	font-weight: bold;
}
.s8_txt_li {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid red;
}
.s8_txt_li>h4{
	font-size: 1.5em;
	line-height: 1.5;
}
.s8_txt_li>h4 span{
	padding-left: 0.5em;
}

.s8_txt_li>p{
	font-size: 1em;
}

.btn_s8_home {
	left: 50%;
	width: 6em;
	margin-left: -7em;
	position: absolute;
	bottom: 5%;
	z-index: 9;
	font-size: 1.8em;
}

.btn_s8_ques {
	left: 50%;
	width: 6em;
	margin-left: 1em;
	position: absolute;
	bottom: 5%;
	z-index: 9;
	font-size: 1.8em;
}

@-webkit-keyframes fadeOut {
	to {
		opacity: 0;
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
@-webkit-keyframes seal {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@keyframes seal {
	0% {
		opacity: 0;
		transform: scale(3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes fadeIn {
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.c_header_box {
    width: 26%;
    position: absolute;
    z-index: 999;
    left: 37%;
    top: 22%;
}
.c_header_box .cover_img {
	z-index: 99;
	position: relative;
}
.custom_header {
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	z-index: 9;
}
.c_header {
    position: absolute;
    right: -18%;
    top: -38%;
    width: 80%;
    z-index: 100;
}

/* screen_5 */
.s9_box {
	position: relative;
}
.s9_gift_cost {
	position: absolute;
	left: 13%;
	top: 47%;
	z-index: 99;
	font-size: 1.8em;
	line-height: 1.2em;
	font-weight: bold;
}
.s9_gift_cost span {
	font-size: 1.5em;
	margin-right: 0.2em;
}
.s9_gift_desc {
	color: #000;
    font-size: 1em;
    left: 13%;
    line-height: 1.5;
    position: absolute;
    top: 58%;
}
.s9_txt {
	width: 100%;
	font-size: 1.6em;
	line-height: 1.4;
	top: 95%;
	position: absolute;
	left: 0;
	text-align: center;
	font-weight: bold;
}
.btn_s9_home {
	left: 50%;
	width: 6em;
	margin-left: -7em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
	font-size: 1.8em;
}

.btn_s9_ques {
	left: 50%;
	width: 7em;
	margin-left: 1em;
	position: absolute;
	bottom: 10%;
	z-index: 9;
	font-size: 1.8em;
}

/* screen_10 */
.s10_slogan {
	font-size: 1.5em;
	line-height: 1.5;
	color: #000;
	position: absolute;
	z-index: 9;
	left: 0px;
	text-align: center;
	bottom: 60%;
	left: 0;
	width: 100%;
}
.s10_question {
	width: 100%;
	position: absolute;
	left: 0;
	top: 42%;
	z-index: 8;
}
.s10_question h3 {
	text-align: center;
	font-size: 1.6em;
	line-height: 1.2;
	font-weight: bold;
}
.s10_question h4 {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.5;
}
.s10_question h5 {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.5;
	padding:.5em 0;
}
.s10_q_list {

}
.s10_q_list li {
	font-size: 1.5em;
	line-height: 1.3;
	margin-top: .2em;
	padding-left: 30%;
}
.s10_q_list li>span{
	background: url(../images/bg_li_icon.png) 0 0 no-repeat;
	background-size: 2.6em 1.3em;
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	vertical-align: top;
	margin-right:.1em;
}
.s10_q_list li.active{
	background: url(../images/bg_q_li.png) top center no-repeat;
	background-size: 100% 100%;
}
.s10_q_list li.active>span{
	background-position: -1.3em 0;
}
.s10_sure {
	width: 26%;
	position: absolute;
	top: 120%;
	left: 50%;
	margin-left: -13%;
	z-index: 99;
}



@media only screen and (min-width:640px) {
}
@media only screen and (min-width:480px) and (max-width:639px) {
	.main {
		font-size: 15px;
	}
}
@media only screen and (max-width:479px) {
	.main {
		font-size: 10px;
	}
}
@media only screen and (max-width: 479px) and (max-height: 450px){
	.s3_question {
		top: 45%;
	}
	.btn_share {
		bottom: 2%;
	}
	.btn_s5_home,.btn_s5_ques {
		bottom: 5%;
	}
	.btn_s8_home,.btn_s8_ques {
		bottom: 5%;
	}
	.my_gift,.act_law {
		bottom: 2%;
	}
	.btn_s4_share {
		bottom: 5%;
	}
	.s1_btn_gift {
		top: 78%;
	}
	.s7_txt {
		bottom: 0;
	}
	.s10_question {
		top: 45%;
	}
	.btn_s5_home,.btn_s5_ques {
		bottom: 2%;
	}
	.s5_txt,.s9_txt {
		top: 87%;
	}
	.s1_libao {
		top: 96%;
	}
	.s2_sure {
		margin-top: 2%;
	}
	.btn_s9_home,.btn_s9_ques {
		bottom: 2%;
	}
}
@media only screen and (min-width:361px) and (max-width:479px) {	
	.s9_gift_desc {
		font-size: 1.3em;
		line-height: 1.6;
	}
	.s9_txt {
		font-size: 2em;
	}
}
@media only screen and (min-width: 480px) and (max-width: 639px) and (min-height: 600px){

}